html, body {
    padding: 0;
    margin: 0;
}

.header {
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-size: x-large;
    text-align: center;
    background: #FFC20F;
    color: black;
    width: 98vw;
    border-radius: 25px 25px 0px 0px;
}

.bar {
    padding:0;
    margin:0;
    height: 1vh;
    background-color: black;
}

.inside {
    background-color: lightgrey;
    height: 76vh;
    width: 98vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    border-radius: 0px 0px 25px 25px;
}
.imag {
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    opacity: 0.2;
    margin-left: 28vw;
    align-content: center;
}

.div1 {
    padding-top: 7.5vh;
    padding-left: 5vw;
}

body{
    background-color: black;
}
